dialog {
  position: fixed;
  width: 500px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  padding: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: modal__open .4s ease;
}

body.is-modal {
  overflow: hidden;
}

dialog[open] {
  animation: modal__slide .5s ease;
}

.modal__header {
  padding: 20px;
  background-color: #007bbb;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}

.modal__contents {
  padding: 20px;
  color: #222;
  font-weight: bold;
  font-size: larger;
  border-left: 10px solid #70a9ff;
}

.modal__footer {
  padding: 20px;
  color: #333;
  font-weight: bold;
}

.modal__close {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #dc5a45;
  border-radius: 3px;
  border: none;
  outline: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close:hover {
  opacity: .6;
}

@keyframes modal__open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal__slide {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
